# Task running
invoke==1.1.0

# Testing
pytest==3.6.4
tox==3.1.2

# Syntax checking
flake8==3.5.0

# Soft deps
IPython<6; python_version < '3'  # pyup: ignore
IPython==6.4.0; python_version >= '3'

# Install this package in development mode
-e '.'
