# Task running
invoke==1.2.0

# Testing
pytest==3.8.1
tox==3.5.2

# Syntax checking
flake8==3.5.0

# Soft deps
IPython<6; python_version < '3'
IPython==6.5.0; python_version >= '3'

# Install this package in development mode
-e '.'
