# Task running
invoke==1.1.1

# Testing
pytest==3.7.4
tox==3.2.1

# Syntax checking
flake8==3.5.0

# Soft deps
IPython<6; python_version < '3'
IPython==6.5.0; python_version >= '3'

# Install this package in development mode
-e '.'
